extends index_Organizer.pug

block style 
    style
      include ../static/style.css
      include ../static/event.css
      include ../static/style_myReg.css
      include ../static/style_organizer.css

block content 
    div.container
        h1 List of registrations
        br
    div.blocks
        table
            tr
                th Event Name
                th Reg Fee
                th Description
                th Organizer name
                th Org Phone No.
                th Event type
            tbody
            //- each article in anst
            each article,i in docs
                tr
                    td= article.eventname
                    td= article.regfee
                    td= article.eventdes
                    td= article.orgnam1 
                    td= article.orgphone1 
                    td= article.eventtype