extends index.pug

block style 
    style
      include ../static/style.css

block content 
    div.container
        h1 Technical
    .blocks 
        ul 
            each article,i in anst
                form(action="/eventcreation",method="post",class="myForm") 
                    li= article.eventname
                    li= article.eventdes 
                    li= article.regfee 
                    li= article.orgnam1
                    li= article.orgphone1
                    input(type='submit', name='eventname', value='article.eventname')
