extends index.pug

block style 
    style
      include ../static/style.css
      include ../static/event.css

block content 
    div.container
        h1 Webinars
        br
    div.blocks
        each article,i in anst
            form(action="/myregistrations",method="post",class="myForm") 
                a(class="Ename" class="Title")= article.eventname
                b(class="Ename")= article.eventdes 
                c(class="Ename")= article.regfee 
                d(class="Ename")= article.orgnam1
                e(class="Ename")= article.orgphone1
                input(type='hidden',name='eventname', value.{article.eventname},)
                input(type='submit', value='Register' class="sub",class="BTN")